<div class="cajita">
  <div class="container col-xl-3 col-md-7" [class.vh-100]="links.length <= 2 || !links.length">
    <app-menu-user></app-menu-user>
    <div class="card">
      <h4>Crea tu minibio</h4>
      <form class="form-floating" [formGroup]="bioForm">
        
        <div *ngIf="downloadURL || mainImage" class="foto mb-3"><img [src]="(downloadURL | async) || mainImage" class="img-thumbnail" alt="..."></div>
        <div class="form-floating mb-3">
          <input
            type="text"
            formControlName="title"
            class="form-control"
            id="floatingInput"
            placeholder="mi titulo"
          />
          <label for="floatingInput">Titulo</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            formControlName="description"
            class="form-control"
            id="floatingInput"
            placeholder="mi descripcion"
          />
          <label for="floatingInput">Descripción</label>
        </div>
        <div class="form mb-3">
          <input
            type="file"
            (change)="uploadFile($event)"
            class="form-control"
            id="floatingInput"
            placeholder="mi imagen"
          />
        </div>
        <div class="form-floating d-none mb-3">
          <input
            type="text"
            formControlName="image"
            class="form-control"
            id="floatingInput"
            placeholder="url enlace"
            
          />
          <label for="floatingInput">Url de enlace</label>
        </div>



        <!-- Button trigger modal -->

      </form>
        <div class="crearlink">
        <button
          type="button"
          class="btn btn-secundary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          <i class="fas fa-plus"></i>
          <span>Enlace</span>
        </button>
        
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Nuevo enlace</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- crear link -->

              <form class="form-floating" [formGroup]="linkForm" >
                <div class="form-floating mb-3">
                <select id="select"class="form-select" aria-label="Default select example" formControlName="type">
                  <option *ngFor="let tipo of types" [ngValue]="tipo">{{tipo}}
                  </option>
               </select>
               <label for="select">Elige tu tipo de enlace</label>
              </div>
               <div class="form-floating mb-3">
                <input
                  type="text"
                  formControlName="title"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Titulo enlace"
                />
                <label for="floatingInput">Titulo de enlace</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  formControlName="link"
                  class="form-control"
                  id="floatingInput"
                  placeholder="url enlace"
                />
                <label for="floatingInput">Url de enlace</label>
              </div>

              </form>
            </div>
            <div class="boton">
            <button
              type="button"
              class="btn btn-primary margin"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary margin" (click)="guardarlink()" data-bs-dismiss="modal">
              Guardar
            </button>
          </div>
          </div>
        </div>
      </div>

<!-- lista de link -->
<div class="card" *ngFor="let enlace of links" style="margin-top: 15px;">
  <div class="juntos">
    <h5>{{enlace.title}}</h5>
    <button class="btn btn-primary borrar" (click)="borrarlink(enlace)"><i class="fas fa-minus"></i></button>
  </div>
  <p>{{enlace.type}}</p>
 


</div>







<div class="boton">
  <button
    *ngIf="id == null"
    class="btn btn-primary"
    type="button"
    (click)="savebio()"
  >
    Guardar
  </button>
  <button
    *ngIf="id != null"
    class="btn btn-primary"
    type="button"
    (click)="updatePost()"
  >
    Actualizar
  </button>
</div>
    </div>
  </div>
</div>
